{#
/**
 * @file better_wishlist.html.twig
 * Default theme implementation to present Wishlist data.
 *
 * This template is used when viewing Wishlist pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_better_wishlist()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('better_wishlist') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
