
{#
/**
 * @file better-wishlist-widget.html.twig
 * Default theme implementation to present add to wishlist widget.
 *
 * This template is used to display add to wishlist link.
 *
 *
 * Available variables:
 * - url: Url to add to wishlist form.
 * - title: Label of the add to wishlist link.
 * - attributes: HTML attributes for the link element.
 *
 * @see template_preprocess_better_wishlist_widget()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" {{ attributes }}>{{ title }}</a>
